@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{

--White: hsl(0, 0%, 100%);
--Slate-300: hsl(212, 45%, 89%);
--Slate-500: hsl(216, 15%, 48%);
--Slate-900: hsl(218, 44%, 22%);
}

body{
    background-color: var(--Slate-300);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 90vh;
}

.image{
    width: 170px;
    border-radius: 10px;
}

.container{
    background-color: var(--White);
    width: 170px;
    height: 310px;
    padding: 10px;
    border-radius: 10px;
    
    
}

.paragraphum{
    font-family: "Outfit", sans-serif;
    font-size: 15px;
}

.paragraphdois{
    font-family: "Outfit", sans-serif;
    color: var(--Slate-500);
    font-size: 12px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}